:root {
  --md-admonition-icon--version: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M1 7.775V2.75C1 1.784 1.784 1 2.75 1h5.025c.464 0 .91.184 1.238.513l6.25 6.25a1.75 1.75 0 0 1 0 2.474l-5.026 5.026a1.75 1.75 0 0 1-2.474 0l-6.25-6.25A1.752 1.752 0 0 1 1 7.775Zm1.5 0c0 .066.026.13.073.177l6.25 6.25a.25.25 0 0 0 .354 0l5.025-5.025a.25.25 0 0 0 0-.354l-6.25-6.25a.25.25 0 0 0-.177-.073H2.75a.25.25 0 0 0-.25.25ZM6 5a1 1 0 1 1 0 2 1 1 0 0 1 0-2Z"/></svg>')
}

.md-typeset .admonition.version,
.md-typeset details.version {
  border-color: #7c4dff;
}

.md-typeset .version > .admonition-title,
.md-typeset .version > summary {
  background-color: #7c4dff1a;
}

.md-typeset .version > .admonition-title::before,
.md-typeset .version > summary::before {
  background-color: #7c4dff;
  -webkit-mask-image: var(--md-admonition-icon--version);
          mask-image: var(--md-admonition-icon--version);
}


[data-md-color-scheme="default"] {
  --md-header-bg-color: #1d1e26; 
}

[data-md-color-scheme="slate"] {
  --md-header-bg-color: #1d1e26; 
}

.md-header {
  background-color: var(--md-header-bg-color);
}

.md-tabs {
  background-color: var(--md-header-bg-color);
}

.md-typeset pre>code {
  border-radius: 0.2rem;
}

.md-typeset img {
  border-radius: 0.2rem;
}

.md-typeset table:not([class]) {
  border-radius: 0.2rem;
}

.md-typeset .md-button {
  border-radius: 0.2rem;
}

.md-content :not(.md-button):not(.md-content__button):not(.md-icon)[href^='http']::after {
  background-color: var(--md-typeset-a-color);
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  -webkit-mask: url(/images/icons/arrow-top-right-thick.svg)  no-repeat 50% 50%;
  mask: url(/images/icons/arrow-top-right-thick.svg)  no-repeat 50% 50%;
  -webkit-mask-size: contain;
  mask-size: contain;
  content: "";
}