[data-md-color-scheme="default"] {
  --md-header-bg-color: #1d1e26; 
}

[data-md-color-scheme="slate"] {
  --md-header-bg-color: #1d1e26; 
}

.md-header {
  background-color: var(--md-header-bg-color);
}

.md-tabs {
  background-color: var(--md-header-bg-color);
}

.md-typeset .admonition, .md-typeset details {
  border-left: none;
  border-radius: 0.2rem;
  overflow: hidden;
}

.md-typeset pre>code {
  border-radius: 0.2rem;
}

.md-typeset img {
  border-radius: 0.2rem;
}

.md-typeset table:not([class]) {
  border-radius: 0.2rem;
}

.md-typeset .md-button {
  border-radius: 0.2rem;
}

.md-content :not(.md-button):not(.md-content__button):not(.md-icon)[href^='http']::after {
  background-color: var(--md-typeset-a-color);
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  -webkit-mask: url(/images/icons/arrow-top-right-thick.svg)  no-repeat 50% 50%;
  mask: url(/images/icons/arrow-top-right-thick.svg)  no-repeat 50% 50%;
  -webkit-mask-size: contain;
  mask-size: contain;
  content: "";
}